html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-wallet {
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

    .btn-wallet:hover {
        background-color: #5753d9;
    }